body {
  font-family: 'roboto';    
}

.navbar .container,
.footer .container {
  padding: 0 60px;
}

.navbar.navbar-default {
  background-color: white;
  margin-bottom: 0px;
  border-bottom: none;
  border-top: rgb(113, 41, 55) 30px solid;
  padding: 12px 0px;
}

.navbar-header .navbar-brand {
  color: rgb(51, 51, 51);
  font-size: 32px;
}

.navbar-nav.navbar-right {
  font-weight: 500;
}
.navbar-default .navbar-nav>li>a  {
  color: rgb(51, 51, 51);
}

.brand {
  color: rgb(113, 41, 55);      
}

.jumbotron {
  padding-top: 90px;
  padding-bottom: 140px;
  background-color: rgb(113, 41, 55);
  background-image: url(../images/cover-1.jpg);
  background-size: cover;

}

.call p {
  width: 400px;
  max-width: 100%;
  margin: 20px auto;
  font-weight: 300;
  color: white;
}

.call a {
  color: rgb(113, 41, 55);
  width: 400px;
  max-width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px;
}
.call a:hover {
  color: rgb(113, 41, 55);
}

.info {
  margin-bottom: 80px;
}

.info .col,
.info h3 {
  padding: 0px 60px;
}
.info h3 {
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 20px;
  color: rgb(113, 41, 55);
}
.info p {
  line-height: 2;
}

.footer {
  background-color: rgb(113, 41, 55);
  color: white;
  padding: 20px 0px;
  font-weight: 100;
  margin-top: 20px;
}
.footer .separator {
  color: #ec971f;
  padding: 0px 10px;
}
